.index-page .sidebar { display:none !important; }
.hero-home {
    margin-top: 120px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.hero {
    text-align:center;
    max-width:700px;
    margin:120px auto 0;
}