@import url("/static/css/base.css");
@import url("/static/css/layout.css");
@import url("/static/css/components.css");
@import url("/static/css/utilities.css");
@import url("/static/css/home.css");
@import url("/static/css/perfil.css");